:root {
  --main-color: #C1BDB3;
  --accent-color: #323031;
  --text-color: #adb5bd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-color);
}

p {
  color: #323031;
}

a, ul {
  display: flex;
  list-style: none;
  padding: 5px;
  color: var(--text-color);
}

a:hover {
  color: #5F5B6B;
}

h1 {
  color: var(--text-color);
}

